<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.TeamDao">

  <resultMap type="Team" id="TeamMap">
    <id column="name" property="name"/>
    <result column="dscrt" property="description"/>
    <result column="max_qty" property="maxQty"/>
    <result column="sdt" property="startDate"/>
    <result column="edt" property="endDate"/>
  </resultMap>
  
  <select id="selectList" 
          resultMap="TeamMap" parameterType="map">
    select name, sdt, edt, max_qty 
    from pms2_team
    <!--  limit #{startIndex}, #{pageSize} -->
  </select>
  <!-- 
    ArrayList<Task> list = new new ArrayList<>();
    while (rs.next()) {
       Task task = new Task();
       task.setName(rs.getString("name"));
       task.setStartDate(rs.getDate("sdt"));
       task.setEndDate(rs.getDate("edt"));
       task.setMaxQty(rs.getInt("max_qty"));
       list.add(task);
    }
  -->
  
  <insert id="insert" parameterType="Team">
    insert into pms2_team(name,dscrt,max_qty,sdt,edt) 
    values(#{name},#{description},#{maxQty},#{startDate},#{endDate})
  </insert>
  
  <select id="selectOne" parameterType="string" resultMap="TeamMap">
    select name, dscrt, sdt, edt, max_qty 
    from pms2_team 
    where name=#{value}
  </select>
  
  <update id="update" parameterType="Team">
    update pms2_team set 
      dscrt=#{description}, 
      max_qty=#{maxQty}, 
      sdt=#{startDate}, 
      edt=#{endDate} 
    where name=#{name}
  </update>
  
  <delete id="delete" parameterType="string">
    delete from pms2_team 
    where name=#{value}
  </delete>
  
  <update id="updateState" parameterType="map">
    update pms2_team set 
      stat=#{state} 
    where tano=#{no}
  </update>
</mapper>







